.App {
  text-align: center;
}
button#Button4 {
  position: absolute;
  top: 102%;
  z-index: 10;
  left: 0.5%; 
}

button#Button5 {
  position: relative;
  margin-right: 10px;
}

button#Button6 {
  position: relative;
  margin-right: 10px;
}

button#Button7 {
  position: relative;
  margin-right: 10px;
}

button#Button8 {
  position: relative;
  margin-right: 10px;
}

button#Button9 {
  position: relative;
  margin-right: 10px;
}

button#Button10 {
  position: absolute;
  top: 13.5%;
  z-index: 11;
  left: 1.5%;
}