.App {
  text-align: center;
}
button#Button4 {
  position: absolute;
  top: 102%;
  z-index: 10;
  left: 0.5%; 
}

button#Button5 {
  position: absolute;
  top: 0.3%;
  left: 1.5%;
}

button#Button6 {
  position: absolute;
  top: 0.3%;
  left: 7%;
}

button#Button10 {
  position: absolute;
  top: 13.5%;
  z-index: 11;
  left: 1.5%;
}